@model IEnumerable<activitiesMessage>
    
@foreach (var item in Model)
{
    <div class="col-md-12">
        <div class="box box-warning box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">@item.messageOwner</h3>
                <div class="box-tools pull-right">
                   <span>@item.messageDate.ToString()</span>
                </div>
            </div>
            <div class="box-body">
                @item.messageText
                @if (item.AnswerActivityMessages != null)
                {
                    foreach (var aam in item.AnswerActivityMessages)
                    {
                        <p>Manager sagt: @aam.messageText</p>
                    }
                }
            </div>
        </div>
    </div>
}