
@{
    ViewBag.Title = "MasterPage";
}

    
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@ViewBag.SchoolCount</h3>

                    <p>Kayitli Okul</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-secret"></i>
                </div>
               
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@ViewBag.PayParent</h3>

                    <p>Para Alinacak Veli</p>
                </div>
                <div class="icon">
                    <i class="fa fa-address-book"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@ViewBag.Parents</h3>

                    <p>Kayitli Veli</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@ViewBag.Activities</h3>

                    <p>Registered Activities</p>
                </div>
                <div class="icon">
                    <i class="fa fa-bus"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->