
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kita Erstellen</title>
</head>
<body>
    <div>
        Vielendanke! @ViewBag.Person<br />
        Wir werden Sie innerhalb 24 Stunden kontaktieren um die Daten abzugleichen, danach werden wir Ihr Account freischalten<br />
        <a href="https://www.kita365.de" target="_self">Kita Home Seite</a>
    </div>
</body>
</html>
